<%--
  Created by IntelliJ IDEA.
  User: aaa
  Date: 2021/7/11
  Time: 11:29
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <title>浏览产品</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        function show() {
            alert("aaa");
            // var request = new XMLHttpRequest();
            // request.responseType = "json";
            // request.open("GET", "product/list.do", true);
            // request.onreadystatechange = function () {
            //     if (request.readyState == 4 && request.status == 200) {
            //         var productJson = request;
            //         var html = "";
            //         for (var product in productJson) {
            //             html.append("<tr>" +
            //                 "<td>" + product.id + "</td>" +
            //                 "<td>" + product.name + "</td>" +
            //                 "<td>" + product.price + "</td>" +
            //                 "<td>" + product.info + "</td>" +
            //                 "</tr>");
            //         }
            //         document.getElementById("productInfo").innerHTML = html;
            //     }
            // }
        }
    </script>
</head>
<body>

    <button id="aaa" onclick="show()">click</button>

    <div align="center">
        <p>浏览产品</p>
        <table>
            <thead>
                <tr>
                    <td>产品ID</td>
                    <td>产品名称</td>
                    <td>产品价格</td>
                    <td>产品信息</td>
                </tr>
            </thead>
            <tbody id="productInfo">
            </tbody>
        </table>
    </div>
</body>
</html>